/*to play the project, typing in "node app.js" in the terminal, and type in "localhost:3000" in any browser*/
body{
    text-align: center;
}

#loginPage{
    background-color: lightgreen;
}

#login{
    display: inline-block;
    margin-top: 210px;
}

#fname, #pass{
    display: block;
    margin: 20px;   
    width: 300px;
    height: 50px;
    font-size: 30px;
    border-radius: 15px;
    background-color: lightblue;
    text-align: center;
}

#fnameLabel, #passLabel{
    font-size: 30px;
    font-family: 'Roboto'
}

#loginSubmit{
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;

}

#start{
    margin-top: 225px;
    display: inline-block;
    width: 400px;
    height: 200px;
}

#unlockButton{
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    background-color: lightgoldenrodyellow;
}

#unlockPass{
    margin-top: 75px;
    width: 350px;
    height: 60px;
    font-size: 40px;
    text-align: center;
    border-radius: 20px;
    background: lightgoldenrodyellow;
}

#startPage{
    background-color: lightseagreen;
}

#text{
    display: inline-block;
    height: 550;
    width: 500px;
    border: solid 3px;
    overflow: scroll;
}

.entry, textarea{
    display: block;
    width: 460px;
}

#add{
    display: inline;
    background: lightgreen;
}

#remove{
    display: inline;
    background: lightcoral;
}

#passForm{
    display: inline;
}

#passButton{
    background-color: lightpink;
    border-radius: 5px;
}

#lock{
    display: inline;
    position: fixed;
    top: 625px;
    right: 925px;
}

h1{
    font-size: 50px;
}
